@charset "UTF-8";
/* @font-face {
    font-family: 'subway';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Subway-Footlong.eot);
    src: url(../font/Subway-Footlong.eot?#iefix) format('embedded-opentype'),
         url(../font/Subway-Footlong.woff) format('woff'),
         url(../font/Subway-Footlong.ttf) format('truetype');
} */

/* html의 모든 요소와 가상요소선택자에 border-box사용하여 padding, border사용시
늘어나지않게함 */
*,
:before,
:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
address,
code,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
section,
main,
audio,
video {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

/* button태그에 손모양 커서 */
button {
  cursor: pointer;
}

/* 익스하위버전에서 이미지 선없애기 */
fieldset,
img {
  border: 0;
  vertical-align: top;
}

/* 반응형에서 이미지 원본크기보다 커지지않고 줄어들수는 있게함 */
img {
  max-width: 100%;
}

/* 리스트 기호 빼기 */
ol,
ul {
  list-style: none;
}

/* 태그 기본 기울임꼴 제거 */
address,
em {
  font-style: normal;
}

/* 페이지안에서 가장 많은 링크색 지정 */
a {
  text-decoration: none;
  color: #666;
}

/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌
iframe아래쪽 간격없애기
*/
iframe {
  overflow: hidden;
  border: 0;
  vertical-align: top;
}

/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
}

/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴 */
input,
select,
textarea,
button {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

/* textarea 리사이즈기능 빼기 */
textarea {
  resize: none;
}

/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 모바일 사파리 브라우져의 텍스트 자동확대 방지
*/
body {
  line-height: 1.5;
  -webkit-text-size-adjust: none;
}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,
caption,
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

/* 공통스타일 */
/* 선택영역 컬러 변경*/
/* ::-moz-selection {background: #009223; color:#fff;}
::selection {background: #009223; color:#fff;} */

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

/* skip Navgation */
/* #skipNavi a { position: absolute; left: 0; top: -1000px; width: 100%; line-height: 40px; background: rgba(28, 28, 28, 0.8); color: #fff; z-index: 99999; text-align: center; transform: translateY(-100%); }

#skipNavi a:focus { transform: translateY(0); top:0;} */

body,
input,
select,
textarea,
button,
table {
  font-family: "Noto Sans KR", "돋움", dotum, "Helvetica Neue",
    "Apple SD Gothic Neo", sans-serif;
  font-size: 15px;
  color: #666;
}

/* placeholder공통 */
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #bbb;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #bbb;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bbb;
  opacity: 1; /* Firefox */
}

/* 폼요소 공통스타일 */
input[type="checkbox"] + label {
  cursor: pointer;
  position: relative;
  padding-left: 40px;
  color: #292929;
  line-height: 30px;
  display: inline-block;
}
input[type="checkbox"] + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 26px;
  height: 26px;
  border: 2px solid #dddddd;
  border-radius: 50%;
}
input[type="checkbox"] + label em {
  color: #009223;
}
/* input[type="checkbox"]:checked + label:before {
    background: url(../images/icon_checkbox.png) no-repeat 50% 50%;
    background-size: 50%;
} */
input[type="checkbox"] + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 2px;
  width: 24px;
  height: 20px;
  background: url(../images/icon_checkbox.png) no-repeat;
  width: 0;
  transition: all 0.3s;
}
input[type="checkbox"]:checked + label:after {
  width: 24px;
}

/* 셀렉트 공통 */
.select_wrap {
  display: inline-block;
  border: 2px solid #dddddd;
  width: 196px;
  position: relative;
  margin-right: 7px;
}
.select_wrap:after {
  content: "";
  position: absolute;
  right: 13px;
  top: 20px;
  width: 12px;
  height: 7px;
  background: url(../images/icon_select_arr.png) no-repeat;
}
.select_wrap select {
  height: 41px;
  border: none;
  width: 100%;
  color: #999;
  text-indent: 9px;
  background: none;
}
select::-ms-expand {
  display: none;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

textarea {
  background: #f8f8f8;
  border: none;
  width: 100%;
  height: 230px;
}

/* 파일선택폼 */
.file_wrap {
  width: 364px;
  display: inline-block;
  border: 2px solid #dddddd;
  padding-right: 98px;
  position: relative;
}
.file_wrap input[type="text"] {
  background: none !important;
  height: 41px !important;
  text-indent: 13px;
}
.file_wrap label {
  position: absolute;
  right: 0;
  top: 0;
  width: 98px;
  height: 41px;
  cursor: pointer;
  text-align: center;
  line-height: 41px;
  color: #009223;
  font-weight: 500;
}
.file_wrap label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 13px;
  width: 2px;
  height: 16px;
  background: #e8e8e8;
}

body.on {
  overflow: hidden;
}

/* 모바일단말 최소가로는 320이미만 최근단말기 가로는
안드로이드기준 360이므로 최소사이즈를 360으로 설정 */
#wrap {
}

/* 가로모드시 팝업 */
/* #rotateMobile {position: fixed; left: 0; top:0; background: rgba(0,0,0,0.9) url(../images/smartphone-logo-mobile-phones-png-favpng-affX6A8V6m2LMPNWQwpeARFj8.jpg) no-repeat 50% 50%; background-size: 200px; width:100%; height: 100%; z-index: 9999; display: none;} */

/*********************** 데스크탑 **********************/

#header {
  background: #fff;
  padding: 0 25px;
}
#header .header_inner {
  height: 85px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  background: #fff;
}
#header .header_inner .pc_logo {
  width: 155px;
  height: 34px;
  float: left;
  margin-top: 26px;
  z-index: 10;
}
#header .header_inner .m_logo {
  display: none;
}
#header .header_inner .util {
  float: right;
  position: relative;
  background: #fff;
  z-index: 10;
  margin: 30px 0 0 0;
}
#header .header_inner .util li {
  float: left;
  margin-left: 10px;
}
#header .header_inner .util li a {
  display: block;
  font-size: 14px;
}
#header .header_inner .util li:last-child {
  margin-top: -4px;
}
#header .header_inner .util li:last-child a {
  border: 1px solid #bbb;
  border-radius: 42px;
  font-size: 12px;
  color: #bbb;
  padding: 5px 15px;
}
.cart {
  display: none;
}
.m_cart {
  display: none;
}

#header .gnb_wrap {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
#header .gnb_wrap .gnb {
  overflow: hidden;
  position: relative;
  z-index: 10;
  background: #fff;
}
#header .gnb_wrap .gnb li {
  float: left;
  line-height: 50px;
  padding-right: 100px;
}
#header .gnb_wrap .gnb li a {
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  display: inline-block;
  vertical-align: top;
}
#header .gnb_wrap .menu_more {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 18px;
  color: #111;
  z-index: 10;
  border: none;
  background: #fff;
}
#header .gnb_wrap .menu_more:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: transparent #000 #000 transparent;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 66% 66%;
  -ms-transform-origin: 66% 66%;
  transform-origin: 66% 66%;
  margin-left: 7px;
  margin-right: 4px;
  vertical-align: 4px;
  transition: 0.3s;
}
/*서브메뉴*/
#header .gnb_wrap2 {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  padding: 29px 0 40px;
  border-top: 1px solid #ddd;
  background: #fff;
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: 5;
}
#header .gnb_wrap2.on {
  transform: translateY(0%);
}

#header .gnb_wrap2 .inner_box {
  position: relative;
}

#header .gnb_wrap2 .inner_box .menu_wrap {
  display: inline-table;
  table-layout: fixed;
  width: 794px;
  padding-right: 100px;
  text-align: center;
}

#header .gnb_wrap2 .inner_box .menu_wrap .menu_box {
  display: table-cell;
  width: 178px;
  vertical-align: top;
}
#header .gnb_wrap2 .inner_box .menu_wrap .menu_box a {
  display: block;
  padding: 10px 0;
  font-size: 17px;
  color: #111;
}

#header .gnb_wrap2 .inner_box .menu_wrap .menu_box ul {
  margin-top: 10px;
}

#header .gnb_wrap2 .inner_box .menu_wrap .menu_box li a {
  display: inline-block;
  position: relative;
  font-size: 15px;
  color: #555;
}

#header .gnb_wrap2 .inner_box .menu_wrap .menu_box li a:after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  width: 100%;
  height: 1px;
  background: #888;
  transform: translateX(-50%) scaleX(0);
  transition: 0.3s;
}

#header .gnb_wrap2 .inner_box .notice_box {
  display: inline-block;
  width: 270px;
  padding: 22px 0 23px 70px;
  margin-top: 10px;
  border-left: 1px solid #ddd;
  vertical-align: top;
}

#header .gnb_wrap2 .inner_box .notice_box .notice {
  display: block;
  padding: 10px 0;
  font-size: 17px;
  color: #111;
}
#header .gnb_wrap2 .inner_box .notice_box ul li a {
  padding: 8px 0;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 270px;
}

/*타블렛이미지*/
#main .main_banner .t_img {
  display: none;
}

/*main_slide*/
#main .main_slider {
  height: 495px;
}
#main .main_slider .swiper-slide a {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#main .main_slider .swiper-slide a .pc_img {
  max-width: none;
}
#main .main_slider .swiper-slide a .m_img {
  display: none;
}

/***section1 주문***/
#main .order_wrap {
}
#main .order_wrap .order_item {
  max-width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
}
#main .order_wrap .order_item .item_rb {
  float: left;
  width: 50%;
  padding: 50px;
}
#main .order_wrap .order_item .item_rb a {
  position: relative;
}
#main .order_wrap .order_item .item_rb .pc_order {
  margin-left: 70px;
}
#main .order_wrap .order_item .item_rb h2 {
  font-size: 50px;
  color: #ff143c;
  margin-left: 60px;
}
#main .order_wrap .order_item .item_rb h2 span .pc_order {
  position: absolute;
  top: 58px;
  left: 195px;
}
#main .order_wrap .order_item .item_rb:last-child h2 {
  color: #1382ff;
}
#main .order_wrap .order_item .item_rb p {
  font-size: 16px;
  margin-left: 60px;
  color: #888888;
}
#main .order_wrap .order_item .item_rb .m_order {
  display: none;
}

/***주문2***/
#main .order_wrap {
}
#main .order_wrap .order_item2 {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 0;
}
#main .order_wrap .order_item2 .item {
  float: left;
  width: 33.33%;
}
#main .order_wrap .order_item2 .item a {
  display: block;
  padding-left: 60px;
}
#main .order_wrap .order_item2 .item a img {
}
#main .order_wrap .order_item2 .item h2 {
  font-size: 30px;
  color: #111111;
  padding-top: 20px;
}
#main .order_wrap .order_item2 .item h2:after {
  content: "";
  background: url(../images/clickicon3.png) no-repeat;
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: -2px;
}
#main .order_wrap .order_item2 .item h2 span .icon1 {
  position: absolute;
  top: 51px;
  left: 240px;
}
#main .order_wrap .order_item2 .item h2 span .icon2 {
  position: absolute;
  top: 51px;
  left: 147px;
}
#main .order_wrap .order_item2 .item h2 span .icon3 {
  position: absolute;
  top: 51px;
  left: 301px;
}
#main .order_wrap .order_item2 .item:last-child h2 {
}
#main .order_wrap .order_item2 .item p {
  font-size: 16px;
  color: #888888;
  padding-top: 10px;
}

/**이벤트배너**/
#main .event_wrap {
  background: #e4e4e3;
  margin-top: 30px;
  padding: 110px 25px 60px;
}
#main .event_wrap .event_inner .event_box {
  float: left;
}
#main .event_wrap .event_inner {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
#main .event_wrap .event_box .ev_tit {
  font-size: 28px;
  font-weight: 700;
}
#main .event_wrap .event_box .ev_tit strong {
  color: #238ece;
  height: 210px;
}
#main .event_wrap .event_box .login_wrap {
  background: #222222;
  width: 103px;
  height: 43px;
  border-radius: 20px;
  margin-top: 25px;
}
#main .event_wrap .event_box .login_wrap a {
  color: white;
  line-height: 43px;
  font-size: 16px;
  margin-left: 30px;
}
#main .event_wrap .event_inner .event_box ul li {
  float: left;
  padding-left: 10px;
}
#main .event_wrap .event_box .login_wrap:hover {
  background: #666;
  color: black;
}
.m_tit {
  display: none;
}
#main .event_wrap .event_inner .event_box .m_login {
  display: none;
}
#main .event_wrap .event_box2 {
  max-width: 756px;
  float: right;
  width: calc(100% - 221px);
}
#main .event_wrap .event_box2 .event_slider {
  padding-bottom: 50px;
}
#main .event_wrap .event_box2 .event_slider .swiper-slide {
  width: 204px;
}
#main .event_wrap .event_box2 .event_slider .swiper-slide a {
  display: block;
}

/***서브배너***/
#main .sub_banner {
}
#main .sub_banner .sub_bn_list {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}
#main .sub_banner .sub_bn_list li {
  float: left;
  padding: 70px 0 0 56px;
}
#main .sub_banner .sub_bn_list li a {
}
#main .sub_banner .sub_bn_list li a img {
}
.m_sub_img {
  display: none;
}

/***푸터***/
#footer {
}
#footer .footer_box {
  height: 328px;
  padding: 52px 20px;
  border-top: 1px solid #ddd;
  margin-top: 70px;
}
#footer .footer_box .footer_inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
#footer .footer_box .footer_inner .footer_order {
  position: relative;
}
#footer .footer_box .footer_inner .footer_order .tel {
  font-size: 30px;
  color: #000000;
  font-weight: 500;
}
#footer .footer_box .footer_inner .select_language {
  position: absolute;
  right: 49px;
  bottom: 212px;
  width: 150px;
}
#footer .footer_box .footer_inner .select_language select {
  width: 100%;
  border: none;
  border-bottom: 1px solid #111;
}
#footer .footer_box .footer_inner .ft_contents {
  overflow: hidden;
  margin-top: 20px;
  position: relative;
}
#footer .footer_box .footer_inner .ft_contents li {
  float: left;
  padding: 10px 10px 10px 0;
}
#footer .footer_box .footer_inner .ft_content s li a {
  font-size: 16px;
  color: #888888;
}
#footer .footer_box .footer_inner .ft_contents li:nth-child(2) a {
  font-weight: 500;
  color: #111111;
}
#footer .footer_box .footer_inner .app_wrap {
}
#footer .footer_box .footer_inner .app_wrap .app_list {
  position: absolute;
  right: 7px;
  bottom: 155px;
}
#footer .footer_box .footer_inner .app_wrap li {
  float: left;
}
#footer .footer_box .footer_inner .app_wrap li:nth-child(3) a {
  vertical-align: -3px;
}
#footer .footer_box .footer_inner .app_wrap a {
  color: #000000;
  font-size: 13px;
  padding: 0 10px;
}
#footer .footer_box .footer_inner .ft_info {
  margin: 20px 0;
}
#footer .footer_box .footer_inner .ft_info p {
  font-size: 12px;
  padding: 2px 0;
  color: #888888;
}
#footer .footer_box .footer_inner .ft_info .notice {
  margin: 20px 0;
}

#footer .footer_box .footer_inner .sns_wrap {
}
#footer .footer_box .footer_inner .sns_wrap .sns_list {
  position: absolute;
  right: 0;
  bottom: 0;
}
#footer .footer_box .footer_inner .sns_wrap .sns_list li {
  float: left;
  padding: 0 10px;
}
#footer .footer_box .footer_inner .sns_wrap .sns_list li a {
}
#footer .footer_box .footer_inner .sns_wrap .sns_list li a img {
}

#footer .awards_wrap .inner_awards {
  background: #f5f5f5;
  padding: 30px 0;
  margin-top: 50px;
}
#footer .awards_wrap .inner_awards ul {
  text-align: center;
}
#footer .awards_wrap .inner_awards ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 44px;
}
#footer .awards_wrap .inner_awards ul li img {
}
#footer .awards_wrap .inner_awards ul li p {
  display: inline-block;
  font-size: 11px;
  color: #888888;
  padding: 0 7px;
}

.quick_wrap {
  display: none;
}

.ft_btn {
  display: none;
}
#footer .footer_box .footer_inner .m_info {
  display: none;
}
#footer .footer_box .footer_inner .m_info_txt {
  display: none;
}
/*************************타블렛****************************/
/* 타블렛분기점 */
@media screen and (max-width: 1420px) {
  #footer .inner_awards > ul > li:last-child {
    padding: 10px 0;
  }
}

@media screen and (max-width: 1200px) {
  #header {
  }
  #header .header_inner {
    padding: 0 10px;
  }
  #header .util {
    display: none;
  }
  #header .cart {
    display: block;
    background: url(../images/cart.png) no-repeat;
    width: 53px;
    height: 44px;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  #header .gnb_wrap {
  }
  #header .gnb_wrap .gnb {
    border: none;
    padding-left: 12px;
    background: none;
  }
  #header .gnb_wrap .gnb li {
    border: none;
  }
  #header .gnb_wrap .gnb li a {
    margin-right: 0;
    font-size: 18px;
  }
  #header .gnb_wrap .gnb li:last-child a {
    display: none;
  }
  #header .gnb_wrap .menu_more {
    display: none;
  }
  #header .gnb_wrap2 {
    display: none;
  }
  #main .order_wrap {
    width: 100%;
  }

  #main .main_slider {
    height: auto;
  }
  #main .main_slider .swiper-slide a {
    display: block;
    position: static;
    transform: translateX(0);
  }
  #main .main_slider .swiper-slide a .m_img {
    width: 100%;
    display: block;
  }

  #main .main_banner .pc_img {
    display: none;
  }
  #main .main_banner .t_img {
    display: block;
  }
  #main .event_wrap .event_inner .event_box {
  }
  #main .event_wrap .event_inner .event_box .ev_tit {
    font-size: 24px;
  }
  #main .sub_banner .sub_bn_list .pc_sub_img {
    display: none;
  }
  #main .sub_banner {
    padding: 20px 20px 50px;
  }
  #main .sub_banner .sub_bn_list {
    max-width: 670px;
    margin: 0 auto;
  }
  #main .sub_banner .sub_bn_list li:nth-child(1) {
    display: none;
  }
  #main .sub_banner .sub_bn_list li:nth-child(2) {
    display: none;
  }
  #main .sub_banner .sub_bn_list li:nth-child(3) {
    display: none;
  }
  #main .sub_banner .sub_bn_list li {
    padding: 0;
    padding-bottom: 30px;
  }
  #main .sub_banner .sub_bn_list li a .m_sub_img {
  }
  #main .m_sub_img {
    display: block;
  }
  #footer .footer_box .footer_inner {
    padding: 0 20px;
  }
  #footer .footer_box .footer_inner .ft_contents li:nth-child(4) {
    display: none;
  }
  #footer .footer_box .footer_inner .ft_contents li:nth-child(5) {
    display: none;
  }
  #footer .footer_box .footer_inner .app_wrap {
    display: none;
  }
  #footer .footer_box .footer_inner .sns_wrap {
    display: none;
  }
  #footer .awards_wrap .inner_awards {
    display: none;
  }
}

/**************************모바일**************************/
/* 모바일분기점 */
@media screen and (max-width: 767px) {
  #header {
  }
  #header .header_inner {
    height: 50px;
    width: 100%;
    padding: 10px 10px;
  }
  #header .header_inner .pc_logo {
    display: none;
  }
  #header .header_inner .m_logo {
    display: block;
    width: 40px;
    float: left;
  }
  #header .header_inner .cart {
    display: none;
  }
  #header .header_inner .m_cart {
    display: block;
    float: right;
    margin-top: 15px;
  }
  #header .header_inner .m_cart img {
    width: 26px;
    height: 22px;
  }
  #header .gnb_wrap {
  }
  #header .gnb_wrap .gnb {
    border: none;
  }
  #header .gnb_wrap .gnb li {
    border: none;
    padding: 0 14px;
  }
  #header .gnb_wrap .gnb li a {
    font-size: 14px;
    color: #111111;
  }

  #main .main_slider {
    margin: 0;
    padding-top: 0;
    max-height: 480px;
    height: 100%;
  }
  #main .main_slider .swiper-slide a {
  }

  #main .order_wrap .order_item {
    border-bottom: 2px solid #111111;
  }
  #main .order_wrap .order_item .item_rb .pc_order {
    display: none;
  }
  #main .order_wrap .order_item .item_rb p {
    display: none;
  }
  #main .order_wrap .order_item .item_rb {
    text-align: center;
  }
  #main .order_wrap .order_item .item_rb .m_order {
    display: inline-block;
  }
  #main .order_wrap .order_item .item_rb h2 {
    font-size: 16px;
    margin-left: 0;
    color: #111111;
    font-weight: 500;
  }
  #main .order_wrap .order_item .item_rb:last-child h2 {
    color: #111111;
  }
  #main .order_wrap .order_item2 {
    display: none;
  }
  #main .order_wrap .order_item .item_rb h2 span img {
    width: 15px;
    margin-top: 6px;
  }
  #main .event_wrap {
    background: none;
    padding: 30px 20px;
  }
  #main .event_wrap .event_inner {
  }
  #main .event_wrap .event_inner .event_box {
    padding: 0;
    position: relative;
  }
  #main .event_wrap .event_inner .event_box img {
    display: none;
  }
  #main .event_wrap .event_inner .event_box .ev_tit {
    display: none;
  }
  #main .event_wrap .event_inner .event_box .m_tit {
    display: block;
    font-size: 18px;
    padding: 30px 0;
  }
  #main .event_wrap .event_inner .event_box .m_tit strong {
  }
  #main .event_wrap .event_inner .event_box .login_wrap {
    display: none;
  }
  #main .event_wrap .event_inner .event_box .m_login {
    display: block;
    background: #222222;
    width: 80px;
    border-radius: 20px;
    color: white;
    line-height: 43px;
    font-size: 14px;
    text-align: center;
    position: absolute;
    top: 35px;
    right: -114px;
  }
  #main .event_wrap .event_inner .event_box .m_login:hover {
    background: #888888;
    color: #fff;
  }
  #main .event_wrap .event_box2 {
    width: 100%;
  }
  #main .event_wrap .event_box2 .event_slider {
  }
  #main .sub_banner {
    padding: 20px 20px 50px;
  }
  #main .sub_banner .sub_bn_list li {
    padding: 0;
    padding-bottom: 30px;
  }
  #main .sub_banner .sub_bn_list .pc_sub_img {
    display: none;
  }
  #main .m_sub_img {
    display: block;
  }
  .quick_wrap {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: block;
  }
  .quick_wrap .quick_list {
    height: 75px;
    background: #fff;
    padding: 10px 0;
  }
  .quick_wrap .quick_list li {
    float: left;
    width: 20%;
    text-align: center;
    min-height: 48px;
  }
  .quick_wrap .quick_list li a {
    display: block;
    padding-top: 8px;
  }
  .quick_wrap .quick_list li h3 {
    display: block;
    position: relative;
    font-size: 10px;
  }
  .quick_wrap .quick_list li:nth-child(1) a img {
    width: 18px;
  }
  .quick_wrap .quick_list li:nth-child(2) a img {
    width: 23px;
  }
  .quick_wrap .quick_list li:nth-child(4) a img {
    width: 23px;
  }
  .quick_wrap .quick_list li:nth-child(5) a img {
    width: 24px;
  }
  .quick_wrap .quick_list li:nth-last-child(3) h3 {
    color: #fff;
  }

  .quick_wrap .quick_list li:nth-child(3) a {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 72px;
    height: 72px;
    background: #ff143c;
    border-radius: 100%;
    padding: 12px 17px;
  }

  #quick .quick_wrap .quick_list li a {
    font-size: 10px;
  }
  #footer {
  }
  #footer .footer_box {
    height: 0;
    margin: 0;
    padding: 10px 0;
  }
  #footer .footer_box .footer_inner {
    padding: 0;
    margin-bottom: 100px;
  }
  #footer .footer_box .footer_inner .footer_order {
    display: none;
  }
  #footer .footer_box .footer_inner .select_language {
    position: static;
    width: 25px;
    float: right;
    margin: 0 15px;
  }
  #footer .footer_box .footer_inner .select_language select {
    font-size: 11px;
  }
  #footer .footer_box .footer_inner .ft_contents {
    margin: 0;
    padding: 0 15px;
  }
  #footer .footer_box .footer_inner .ft_contents li:nth-child(4) {
    display: none;
  }
  #footer .footer_box .footer_inner .ft_contents li:nth-child(5) {
    display: none;
  }
  #footer .footer_box .footer_inner .ft_contents li a {
    font-size: 11px;
  }
  #footer .footer_box .footer_inner .m_info {
    display: block;
    padding: 0 15px;
  }
  #footer .footer_box .footer_inner .m_info .btn_info {
    border: none;
    background: #fff;
    font-size: 11px;
    color: #333333;
  }
  #footer .footer_box .footer_inner .btn_info:after {
    content: "";
    margin-left: 7px;
    display: inline-block;
    width: 7px;
    height: 7px;
    border-style: solid;
    border-color: transparent #333333 #333333 transparent;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    vertical-align: 4px;
  }

  #footer .footer_box .footer_inner .m_info_txt .m_txt {
    font-size: 11px;
    color: #888888;
    line-height: 20px;
  }
  #footer .footer_box .footer_inner .m_txt2 {
    font-size: 11px;
    color: #888888;
  }
  #footer .footer_box .footer_inner p {
    padding: 15px 0;
  }
  #footer .footer_box .footer_inner .app_wrap {
    display: none;
  }
  #footer .footer_box .footer_inner .sns_wrap {
    display: none;
  }
  #footer .awards_wrap .inner_awards {
    display: none;
  }
  #footer .footer_box .footer_inner .ft_btn {
    display: block;
    width: 100%;
  }
  #footer .footer_box .footer_inner .ft_btn .btn_wrap {
    text-align: center;
    background: #f8f8f8;
    border-top: 1px solid #cecece;
    border-bottom: 1px solid #cecece;
  }
  #footer .footer_box .footer_inner .ft_btn .btn_wrap .down_btn {
    display: inline-block;
    padding: 22px 0;
    font-size: 12px;
    color: #888888;
    width: 48%;
  }
  #footer .footer_box .footer_inner .ft_info {
    display: none;
  }
}

/************ sub_menu ************/

#content .sub_menu {
  max-width: 1200px;
  padding-bottom: 100px;
}

#content .sub_menu .sub_menu_inner {
}

#content .sub_menu .sub_menu_inner .menu_title {
  position: relative;
  margin-top: 50px;
}

#content .sub_menu .sub_menu_inner .menu_title h2 {
  position: absolute;
  top: 0;
  left: 150px;
  font-size: 40px;
  color: #111;
  font-weight: 400;
}

#content .sub_menu .sub_menu_inner .menu_title .depth_area {
  position: absolute;
  right: 0;
  top: 16px;
}

#content .sub_menu .sub_menu_inner .menu_title .depth_area li {
  display: inline-block;
  font-size: 13px;
  color: #888888;
}

#content .menu_nav_wrap {
  border-bottom: 1px solid #666;
  max-width: 1200px;
  margin: 0 auto;
}

#content .menu_nav_wrap .menu_nav {
}

#content .menu_nav_wrap .menu_nav .menu_list {
  margin-left: 130px;
  display: inline-block;
}

#content .menu_nav_wrap .menu_nav .menu_list li {
  padding-left: 30px;
  float: left;
}

#content .menu_nav_wrap .menu_nav .menu_list li a {
  font-size: 17px;
}
